<html><meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>{:C('WEB_SITE_TITLE')}</title>
<link href="__STATIC__/bootstrap/css/top.css" rel="stylesheet">
<link href="__STATIC__/bootstrap/css/index.css" rel="stylesheet">
<link href="__STATIC__/bootstrap/css/font-face.css" rel="stylesheet">
<link href="__STATIC__/bootstrap/css/tuan.css" rel="stylesheet">
<link href="__STATIC__/bootstrap/css/footer.css" rel="stylesheet">
<script type="text/javascript" src="__JS__/public.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<!-- 工具条 -->
	<include file="Public/toolbar"/>
	<!-- /工具条 -->
	<!-- 头部 -->
	<include file="Public/header"/>
	
	<!-- /头部 -->

	<!-- 菜单 -->
	<include file="Public/menu"/>
	<!-- /菜单 -->


	<!-- 主体 -->
	<include file="Public/body"/>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->
</body>
</html>